body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(238, 225, 225);
}

nav {
    background-color: rgb(63, 1, 1);
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
}

.header {
    background-color: rgb(63, 1, 1);
    padding: 40px;
    color: white;
    font-size: 250%;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content-left, .content-right {
    background-color: rgb(204, 165, 165); 
    padding: 20px;
    border: 5px solid white;
    width: 45%;
    box-sizing: border-box;
}


.text-section, .text-section-right {
    background-color: rgb(63, 1, 1); 
    padding: 20px;
    color: white; 
    border-radius: 10px;
    margin-bottom: 20px;
}


.images img {
    margin: 5px;
    width: 100%;
    max-width: 200px;
    border: 3px solid rgb(238, 225, 225);
    border-radius: 8px;
    display: block;
}

.footer {
    background-color: rgb(63, 1, 1);
    color: white;
    text-align: center;
    padding: 30px;
    font-style: oblique;
}

#myCanvas {
    background-color: rgb(204, 165, 165);
    border: 2px solid black;
    display: block;
    margin: auto;
}